{% extends "users/base.html" %}
{% block content %}
<style>
:root {
    --primary-color: #4EA685;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;
    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    overflow: hidden;
    background-color:#0C4A6E;
}

.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.col {
    width: 50%;
}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-wrapper {
    width: 100%;
    max-width: 28rem;
}

.form {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-group {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--gray-2);
}

.input-group input {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: var(--gray);
    border-radius: .5rem;
    border: 0.125rem solid var(--white);
    outline: none;
}

.input-group input:focus {
    border: 0.125rem solid var(--primary-color);
}

.form button {
    cursor: pointer;
    width: 100%;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    outline: none;
}

.form p {
    margin: 1rem 0;
    font-size: .7rem;
}

.error-message {
    color: red;
    padding-bottom: 8px;
}

.pointer {
    cursor: pointer;
}
</style>

<div class="container">
    <div class="row align-items-center">
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <div class="form sign-in">
                    <h3 class="font-weight-light my-4 text-center">Forgot Password?</h3>
                    <form method="POST" id="PasswordResetForm" class="needs-validation" autocomplete="off">
                        {% csrf_token %}
                        <div class="input-group">
                            <i class='bx bx-mail-send'></i>
                            <input type="email" name="email" maxlength="254" id="email" placeholder="Enter email">
                        </div>
                        <div class="error-message" id="emailError"></div>
                        <button type="submit">Submit</button>
                    </form>
                    <p>
                        <a href="{% url 'register' %}">Create a new account</a><br><br>
                        <a href="{% url 'login' %}">Back to Login</a><br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
(function() {
    'use strict';

    window.addEventListener('load', function() {
        var form = document.getElementById('PasswordResetForm');

        form.addEventListener('input', function(event) {
            var target = event.target;
            var errorId = target.id + 'Error';
            var errorElement = document.getElementById(errorId);

            switch (target.id) {
                case 'email':
                    validateEmail(target, errorElement);
                    break;
            }
        });

        function validateEmail(emailInput, errorElement) {
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (emailInput.value === '') {
                showError(emailInput, errorElement, 'Email cannot be empty');
            } else if (!emailRegex.test(emailInput.value) || emailInput.value.endsWith('.')) {
                showError(emailInput, errorElement, 'Enter a valid email');
            } else {
                hideError(emailInput, errorElement);
            }
        } 
        
        function showError(inputElement, errorElement, errorMessage) {
            inputElement.classList.add('is-invalid');
            errorElement.textContent = errorMessage;
            errorElement.style.display = 'block';
        }

        function hideError(inputElement, errorElement) {
            inputElement.classList.remove('is-invalid');
            errorElement.textContent = '';
            errorElement.style.display = 'none';
        }
    }, false);
})();
</script>
{% endblock content %}
