{% extends "users/base.html" %}
{% block content %}
<style>
    .error-message {
        color: red;
        padding-bottom: 8px;
    }
</style>
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center">
                        	<div id="error_div"></div>
                          <h3 class="font-weight-light my-4 text-center">Forgot Password?</h3>
                        </div>

                        <div class="card-body">
                            <form method="POST" id="PasswordResetForm" class="needs-validation">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                      <label class="small mb-1" for="id_email">Email</label>
                                        <input type="email" name="email"  class="form-control"
                                               autocomplete="email" maxlength="254" id="email"
                                               placeholder="Enter email">
                                    </div>
                                    <div class="error-message" id="emailError"></div>
                                </div>
                            </div>
                                <div class="form-row">
                                  <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-1">
                                        <button type="submit" class="col-md-12 btn btn-primary">Submit
                                        </button>
                                    </div>
                                 </div>
                               </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small">
                                <a href="{% url 'register' %}">Create a new account</a><br><br>
                                <a href="{% url 'login' %}">Back to Login</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        (function() {
            'use strict';

            window.addEventListener('load', function() {
                var form = document.getElementById('PasswordResetForm');

                form.addEventListener('input', function(event) {
                    var target = event.target;
                    var errorId = target.id + 'Error';
                    var errorElement = document.getElementById(errorId);

                    switch (target.id) {
                        case 'email':
                            validateEmail(target, errorElement);
                            break;
                    }
                });

                function validateEmail(emailInput, errorElement) {
                    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    if (emailInput.value === '') {
                        showError(emailInput, errorElement, 'Email cannot be empty');
                    } else if (!emailRegex.test(emailInput.value) || emailInput.value.endsWith('.')) {
                        showError(emailInput, errorElement, 'Enter a valid email');
                    } else {
                        hideError(emailInput, errorElement);
                    }
                } 
                
                function showError(inputElement, errorElement, errorMessage) {
                inputElement.classList.add('is-invalid');
                errorElement.textContent = errorMessage;
                errorElement.style.display = 'block';
            }

            function hideError(inputElement, errorElement) {
                inputElement.classList.remove('is-invalid');
                errorElement.textContent = '';
                errorElement.style.display = 'none';
            }
        }, false);
    })();


    </script>
  </div>
{% endblock content %}