{% extends "users/base.html" %}
{% block title %} Password Reset {% endblock title%}
{% block content %}
<style>
    .eye-icon {
        cursor: pointer;
    }

    .error-message {
        color: red;
        margin-top: 8px;
    }
</style>
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if validlink %}
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center">
                              <h3 class="font-weight-light my-4 text-center">Reset Your Password</h3>
                            </div>


                            <div class="card-body">
                                <form method="POST" id="PasswordConfirmForm">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password1">New Password</label>
                                                
                                                <div class="input-group">
                                                    <input type="password" name="new_password1" autocomplete="new-password"
                                                    class="form-control" required id="id_new_password1"
                                                    placeholder="Enter password"/>
                                                <span style="border-color:#555 ;" class="input-group-text eye-icon" onclick="togglePasswordVisibility1()">
                                                    <i class="fas fa-eye" id="eye1"></i>
                                                </span>
                                                </div>
                                                <div class="error-message" id="id_new_password1Error"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password2">Repeat New Password</label>
                                                <div class="input-group">
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control"
                                                       placeholder="Confirm password"/>
                                                    <span style="border-color:#555 ;" class="input-group-text eye-icon" onclick="togglePasswordVisibility2()">
                                                        <i class="fas fa-eye" id="eye2"></i>
                                                    </span>
                                                </div>
                                                <div class="error-message" id="id_new_password2Error"></div>     
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group mt-0 mb-1">
                                                <button type="submit" class="col-md-12 btn btn-primary" id="reset">Reset Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
    <script>
        function togglePasswordVisibility1() {
            var passwordInput = document.getElementById("id_new_password1");
            var eyeIcon = document.getElementById("eye1");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.className = "fas fa-eye-slash";
            } else {
                passwordInput.type = "password";
                eyeIcon.className = "fas fa-eye";
            }
        }
       

        function togglePasswordVisibility2() {
            var passwordInput = document.getElementById("id_new_password2");
            var eyeIcon = document.getElementById("eye2");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.className = "fas fa-eye-slash";
            } else {
                passwordInput.type = "password";
                eyeIcon.className = "fas fa-eye";
            }
        }

        (function() {
            'use strict';

            window.addEventListener('load', function() {
                var form = document.getElementById('PasswordConfirmForm');

                form.addEventListener('input', function(event) {
                    var target = event.target;
                    var errorId = target.id + 'Error';
                    var errorElement = document.getElementById(errorId);

                    switch (target.id) {
                        case 'id_new_password1':
                            validatePassword(target, errorElement);
                            break;
                        case 'id_new_password2':
                            validateRepeatPassword(target, errorElement);
                            break;
                    }
                });

                function validatePassword(passwordInput, errorElement) {
                    if (passwordInput.value === '') {
                        showError(passwordInput, errorElement, 'Password cannot be empty');
                    } else if (passwordInput.value.length < 8 || !/^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/.test(passwordInput.value)) {
                        showError(passwordInput, errorElement, 'Password must be alphanumeric with one special character and minimum 8 characters');
                    } else {
                        hideError(passwordInput, errorElement);
                    }
                }

                function validateRepeatPassword(repeatPasswordInput, errorElement) {
                    var passwordInput = document.getElementById('id_new_password1');
                    if (repeatPasswordInput.value === '') {
                        showError(repeatPasswordInput, errorElement, 'Repeat Password cannot be empty');
                    } else if (repeatPasswordInput.value !== passwordInput.value) {
                        showError(repeatPasswordInput, errorElement, 'Passwords do not match');
                    } else {
                        hideError(repeatPasswordInput, errorElement);
                    }
                } 
                
            function showError(inputElement, errorElement, errorMessage) {
                inputElement.classList.add('is-invalid');
                errorElement.textContent = errorMessage;
                errorElement.style.display = 'block';
            }

            function hideError(inputElement, errorElement) {
                inputElement.classList.remove('is-invalid');
                errorElement.textContent = '';
                errorElement.style.display = 'none';
            }
        }, false);
    })();





    </script>


                        </div>
                    {% else %}
                    <div class="alert alert-warning">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}