{% extends 'partials/base.html' %}


{% block content %}
<div style="padding: 33px 0px;"></div>

<h1 style="font-size: 40px; background-color: black;color: white; padding: 8px 0%;text-align: center;">Finance</h1>
<br><br><h1 style="padding-left: 2%;">Orders</h1>
 <br><br> <p style="padding-left: 2%;padding-right: 3%;">Track Salvador's pending orders.Amount in rupees(₹).</p>
<div  style="padding:0% 2%;">
<table class="table table-striped border-black " style="border: 1px solid black;">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th scope = "row"> Clients</th>
      {% for f in fin %}  <th scope="row"> {{f.Client}} </th>  {% endfor %}
      
      
    </tr>
    <tr>
      <th scope = "row"> Order</th>
      {% for f in fin %}  <td scope="row"> {{f.order}} </td>  {% endfor %}
    </tr>
    <tr>
      <th scope = "row"> Nos.</th>
      {% for f in fin %}  <td scope="row"> {{f.amount}} </td>  {% endfor %}
    </tr>
    <tr>
      <th scope = "row"> Amount/Cash</th>
      {% for f in fin %}  <td scope="row"> {{f.cash}} </td>  {% endfor %}
    </tr>
    
  </tbody>
</table>
<h4 style="text-align: center;">Orders table</h4> <br><br><br>
</div>
<h1 style="padding-left: 2%;">Liquidity</h1>
<br><br> <p style="padding-left: 2%;padding-right: 3%;">Salvador's liquidity timeline recorded every month. Liquidity information calculated using current ratio (Recorded every month).</p>
<div  style="padding:0% 2%;">
<table class="table table-striped border-black " style="border: 1px solid black;">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th scope = "row"> Date</th>
      {% for f in fin %}  <th scope="row"> {{f.date}} </th>  {% endfor %}
    </tr>
    <tr>
      <th scope = "row"> Assets</th>
      {% for f in fin %}  <td scope="row"> {{f.asset}} </td>  {% endfor %}
      
      
    </tr>
    <tr>
      <th scope = "row"> Liabilities</th>
      {% for f in fin %}  <td scope="row"> {{f.liab}} </td>  {% endfor %}
    </tr>
    <tr>
      <th scope = "row"> Liquidity Available</th>
      {% for f in fin %}  <td scope="row"> {{f.liquid}} </td>  {% endfor %}
    </tr>
    
   
  </tbody>
</table>
<h4 style="text-align: center;">Liquidity table</h4>
<br><br>
</div>
<br> <br><br>

<div  style="margin: auto;width: 50%;height: 50%;">
  <canvas id="myChart2" width="600" height="350"></canvas>
  <h4 style="text-align: center;">Liquidity</h4></div> <br><br>
<script>
  var ctx = document.getElementById('myChart2').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [{% for f in fin %}  '{{ f.date}}',  {% endfor %}],
          datasets: [{
              label: 'Assets',
              data: [{% for f in fin %}  {{ f.asset}},  {% endfor %}],
              
              backgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
                  'rgba(75, 192, 192, 0.8)',
                  'rgba(153, 102, 255, 0.8)',
                  'rgba(255, 159, 64, 0.8)',
                  'rgba(240, 120, 50, 0.8)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(240, 120, 50, 1)',

              ],
              borderWidth: 2
          },{
              label: 'Liabilites',
              data: [{% for f in fin %}  {{ f.liab}},  {% endfor %}],
              
              backgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
                  'rgba(75, 192, 192, 0.8)',
                  'rgba(153, 102, 255, 0.8)',
                  'rgba(255, 159, 64, 0.8)',
                  'rgba(240, 120, 50, 0.8)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(240, 120, 50, 1)',

              ],
              borderWidth: 2
          },{
              label: 'Liquidity',
              data: [{% for f in fin %}  {{ f.liquid}},  {% endfor %}],
              
              backgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
                  'rgba(75, 192, 192, 0.8)',
                  'rgba(153, 102, 255, 0.8)',
                  'rgba(255, 159, 64, 0.8)',
                  'rgba(240, 120, 50, 0.8)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(240, 120, 50, 1)',

              ],
              borderWidth: 2
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
            
          }
      }
  });
  </script>
  





{{ redirect_to_login_immediately }}

{% endblock %}