<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEO Dashboard</title>
        <script src = "https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

<style>
  .address-textarea {
      width: 70%; /* Adjust the width as needed */
      max-width: 300px; /* Set a maximum width to control the width of the text area */
  }
  .error-message {
      color: red;
  }
  .alert-icon {
      display: none;
      color: red;
      margin-left: 5px;
  }
  .alert-icon-circle {
      border: 1px solid red;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      font-size: 12px;
  }
  .s-input-icon.js-alert-icon svg {
      fill: red;
  }
  .s-input-icon.js-alert-icon.svg-icon.iconAlertCircle path {
      fill: red !important;
  }
</style>
</head>
<body style="background-color:gainsboro;">

  <div class="container" style="background-color:gainsboro;">
    <div class="row justify-content-center" style="background-color:gainsboro;margin-top: 5%;">
      <div class="col-md-4 border border-dark p-2 mb-2 border-opacity-15" style="background-color:white;">
        <h1 style="text-align: center;color: white;background-color: #0275d8;">Register</h1><br>
        <form action="{% url 'register' %}" method="post" id="registerForm" style="width: 82%;padding-left: 22%;">
          {% csrf_token %}
          
          <div class="mb-3">
            <label for="username"><strong>Username:</strong></label><br>
            {{registerform.username}}
            <span class="error-message" id="usernameError"></span>
            <span class="alert-icon" id="usernameAlertIcon">
                <svg aria-hidden="true" class="s-input-icon js-alert-icon svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M9 17c-4.36 0-8-3.64-8-8 0-4.36 3.64-8 8-8 4.36 0 8 3.64 8 8 0 4.36-3.64 8-8 8ZM8 4v6h2V4H8Zm0 8v2h2v-2H8Z"></path>
                </svg>
            </span>
<br>          
          </div>
          <div class="mb-3">
            <label for="password1"><strong>Password:</strong></label><br>
           {{registerform.password1}}
           <span class="error-message" id="password1Error"></span>
           <span class="alert-icon" id="password1AlertIcon">
               <svg aria-hidden="true" class="s-input-icon js-alert-icon svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18">
                   <path d="M9 17c-4.36 0-8-3.64-8-8 0-4.36 3.64-8 8-8 4.36 0 8 3.64 8 8 0 4.36-3.64 8-8 8ZM8 4v6h2V4H8Zm0 8v2h2v-2H8Z"></path>
               </svg>
           </span>
           <br>        
          </div>
          <div class="mb-3">
            <label for="password2"><strong>Repeat Password:</strong></label><br>
            {{registerform.password2}}
            <span class="error-message" id="password2Error"></span>
           <span class="alert-icon" id="password2AlertIcon">
               <svg aria-hidden="true" class="s-input-icon js-alert-icon svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18">
                   <path d="M9 17c-4.36 0-8-3.64-8-8 0-4.36 3.64-8 8-8 4.36 0 8 3.64 8 8 0 4.36-3.64 8-8 8ZM8 4v6h2V4H8Zm0 8v2h2v-2H8Z"></path>
               </svg>
           </span>

            <br>
            
          </div>
          <div class="mb-3">
            <label for="email"><strong>Email:</strong></label><br>
            {{registerform.email}}
            <span class="error-message" id="emailError"></span>
            <span class="alert-icon" id="emailAlertIcon">
                <svg aria-hidden="true" class="s-input-icon js-alert-icon svg-icon iconAlertCircle" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M9 17c-4.36 0-8-3.64-8-8 0-4.36 3.64-8 8-8 4.36 0 8 3.64 8 8 0 4.36-3.64 8-8 8ZM8 4v6h2V4H8Zm0 8v2h2v-2H8Z"></path>
                </svg>
            </span>
            
          </div>
          <div class="mb-3">
            <label for="first_name"><strong>First Name:</strong></label><br>
            {{registerform.first_name}}
          </div>
          <div class="mb-3">
            <label for="last_name"><strong>Last Name:</strong></label><br>
            {{registerform.last_name}}
          </div>
          <div class="mb-3">
            <label for="phone"><strong>Contact No. :</strong></label><br>
            {{registerform.phone}}
          </div>
          <div class="mb-3">
            <label for="street"><strong>Door no. and street:</strong></label><br>
            {{registerform.street}}
          </div> 
          <div class="mb-3">
            <label for="city"><strong>City:</strong></label><br>
            {{registerform.city}}
          </div> 
          <div class="mb-3">
            <label for="state"><strong>State:</strong></label><br>
            {{registerform.state}}
          </div> 
          <br>
          <div class="d-grid gap-2" >
            <button class="btn btn-primary" type="submit">Register</button>
            
          </div>
        </form>

 <br>

 <br>
      </div><p style="text-align: center;">Already registered? | <a href="{% url 'login' %}">Login</a> here</p>
    </div>
  </div>
  </div>
  <br> 
  <script>
    $(document).ready(function() {
        $('#registerForm').on('submit', function(event) {
            var username = $('#username').val();
            var password1 = $('#password1').val();
            var password2 = $('#password2').val();
            var email = $('#email').val();

            // Reset error messages
            $('#usernameError').text('');
            $('#password1Error').text('');
            $('#password2Error').text('');
            $('#emailError').text('');
            $('.alert-icon').hide();

            if (username.trim() === '' ) {
                event.preventDefault(); // Prevent form submission
                $('#usernameError').text('Username must be the companyID');
                $('#usernameAlertIcon').show();
            }

            if (password1.trim() === '' ) {
                event.preventDefault(); // Prevent form submission
                $('#password1Error').text('Password should be alphanumeric and should be atleast 8 characters');
                $('#password1AlertIcon').show();
            }
            else if (!/^(?=.*[A-Za-z])(?=.*\d).{8,}$/.test(password1)) {
                event.preventDefault(); // Prevent form submission
                $('#password1Error').text('Password should be alphanumeric and should be at least 8 characters');
                $('#password1AlertIcon').show();
            }
            if (password2.trim() !== password1.trim()) {
                event.preventDefault(); // Prevent form submission
                $('#password2Error').text('Passwords does not match');
                $('#password2AlertIcon').show();
            }
            if (email.trim() === '') {
                event.preventDefault(); // Prevent form submission
                $('#emailError').text('Please enter a valid email address');
                $('#emailAlertIcon').show();
            } else if (!/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/.test(email)) {
                event.preventDefault(); // Prevent form submission
                $('#emailError').text('Please enter a valid email address');
                $('#emailAlertIcon').show();
            }
        });
    });
</script>
</body>
</html>
