{% extends 'partials/base.html' %}


{% block content %}
<div style="padding: 33px 0px;"></div>
<h1 style="font-size: 40px; background-color: black;color: white; padding: 8px 0%;text-align: center;">Sales</h1>
<br><br><br>
<h1 style="padding-left: 2%;">Sales Figures</h1> <br>
<p style="padding-left: 2%;padding-right: 3%;">Sales figures are the value or amount of the total sales of an industry's or company's products for a particular period. <br>
<br>The time period referred here is in monthly basis.<br><br></p> <br>
<div class="col-md-10" style="padding-left: 15%;">
    <canvas id="radarChart"></canvas>
    

   <script>
    const radarChart = new Chart(document.getElementById("radarChart"), {
      type: "radar",
      data: {
        labels: [{% for s in sale %}  '{{ s.product }}',  {% endfor %}],
        datasets: [{
          label: "Units sold",
          data: [{% for s in sale %}  '{{ s.units }}',  {% endfor %}],
          backgroundColor: "rgba(255, 99, 132, 0.2)",
          borderColor: "rgba(255, 99, 132, 1)"
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scale: {
          pointLabels: {
            fontSize: 90
          }
        }
      }
    });
    </script> 
        
      </div>
      <h4 style="text-align: center;">Sales figures.</h4> <br><br><br><br>

<h4 style="padding-left: 2%;">Table data</h1> <br>
  <p style="padding-left: 2%;">This table contains the cash amount in rupees(₹) by selling products in monthly basis.</p>
  <br>
<div  style="padding:0% 2%;">
<table class="table table-striped border-black " style="border: 1px solid black;">
    <thead>
    </thead>
    <tbody>
      <tr>
       <th>Products</th> 
        {% for s in sale %}  <td scope="row"> {{s.product}} </td>  {% endfor %}
        
        
      </tr>
      <tr>
        <th>Cash sold</th>
        {% for s in sale %}  <td scope="row"> {{s.salefigures}} </td>  {% endfor %}
      </tr>
      
    </tbody>
</table> <br><br></div>
<div  style="margin: auto;width: 50%;height: 50%;">
  <canvas id="myChart2" width="600" height="350"></canvas>
  <h4 style="text-align: center;">Sales in Rupees(₹)</h4></div> <br><br><br><br>
<script>
  var ctx = document.getElementById('myChart2').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [{% for s in sale %}  '{{ s.products}}',  {% endfor %}],
          datasets: [{
              label: 'SalesFigures',
              data: [{% for s in sale %}  {{ s.salefigures}},  {% endfor %}],
              
              backgroundColor: [
                  'rgba(255, 99, 132, 0.8)',
                  'rgba(54, 162, 235, 0.8)',
                  'rgba(255, 206, 86, 0.8)',
                  'rgba(75, 192, 192, 0.8)',
                  'rgba(153, 102, 255, 0.8)',
                  'rgba(255, 159, 64, 0.8)',
                  'rgba(240, 120, 50, 0.8)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)',
                  'rgba(240, 120, 50, 1)',

              ],
              borderWidth: 2
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
            
          }
      }
  });
  </script>
{{ redirect_to_login_immediately }}



{% endblock %}