{% load static %}


<html>
	<head>
		<title>Chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/message.css' %}">
        <link href="{% static 'css/style.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css">
        
        <script src="https://kit.fontawesome.com/13916af6b0.js" crossorigin="anonymous"></script>
        

    </head>
	
	<body>
        {% if user.is_authenticated %}
            <input type="hidden" id="logged-in-user" value="{{ user.id }}">
        {% endif %} 
        <div class="layout-wrapper">
            <div class="main-menu" style="background-color: #0C4A6E;">
                <!-- Brand Logo -->
                <div class="logo-box">
                    <!-- Brand Logo Light -->
                    <a class='logo-light' href="{% url 'index' %}">
                        <img src="{% static 'img/B_logo.png' %}" alt="logo" class="logo-lg"> 
                        
                        <img src="{% static 'img/S_logo.png' %}" alt="small logo" class="logo-sm">
                    </a>

                    <!-- Brand Logo Dark -->
                    <a class='logo-dark' href="{% url 'index' %}">
                        <img src="{% static 'img/B_logo.png' %}" alt="dark logo" class="logo-lg" height="68">
                        <img src="{% static 'img/S_logo.png' %}" alt="small logo" class="logo-sm" height="28">
                    </a>
                </div> <br>
                <script>

                </script>

                <!--- Menu -->
                <div data-simplebar>
                        
                            <div class="input-group">
                                <input type="text" placeholder="Search..." name="" class="form-control search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                        
                        <div class="card-body contacts_body">
                            <ui class="contacts">
                                {% for thread in Threads %}
                                    <li class="{% if forloop.first %}active{% endif %} contact-li" chat-id="chat_{{ thread.id }}" style="cursor: pointer">
                                        <div class="d-flex bd-highlight">
                                            <div class="img_cont">
                                                <img src="https://img.freepik.com/premium-vector/businessman-profile-cartoon_18591-58481.jpg?w=360" class="rounded-circle user_img">
                                                <span class="online_icon"></span>
                                            </div>
                                            <div class="user_info">
                                                {% if thread.first_person == user %}
                                                    <span>{{ thread.second_person.first_name }}</span>
                                                {% else %}
                                                    <span>{{ thread.first_person.first_name }}</span>
                                                {% endif %}
    
                                                
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ui>
                        </div>
                        <div class="card-footer"></div>
                    
                </div>
            </div>
            <div class="page-content">

                <!-- ========== Topbar Start ========== -->
                <div class="navbar-custom">
                    <div class="topbar">
                        <div class="topbar-menu d-flex align-items-center gap-lg-2 gap-1">
    
                            <!-- Brand Logo -->
                            <div class="logo-box">
                                <!-- Brand Logo Light -->
                                <a class='logo-light' href="{% url 'index' %}">
                                    <img src="{% static 'B_logo.png' %}" alt="logo" class="logo-lg" height="22">
                                    <img src="{% static 'S_logo.png' %}" alt="small logo" class="logo-sm" height="22">
                                </a>
    
                                <!-- Brand Logo Dark -->
                                <a class='logo-dark' href='index.html'>
                                    <img src="{% static 'B_logo.png' %}" alt="dark logo" class="logo-lg" height="22">
                                    <img src="{% static 'S_logo.png' %}" alt="small logo" class="logo-sm" height="22">
                                </a>
                            </div>
    
                            <!-- Sidebar Menu Toggle Button -->
                            <button class="button-toggle-menu">
                                <i class="mdi mdi-menu"></i></button>
                        </div>
    
                        <ul class="topbar-menu d-flex align-items-center gap-4">
    
                            <li class="d-none d-md-inline-block">
                                <a class="nav-link" href="" data-bs-toggle="fullscreen">
                                    <i class="mdi mdi-fullscreen font-size-24"></i></button>
                                </a>
                            </li>
    
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-light arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-magnify font-size-24"></i></a>
                                <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end dropdown-lg p-0">
                                    <form class="p-3">
                                        <input type="search" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                    </form>
                                </div>
                            </li>
    
    
                            <li class="dropdown d-none d-md-inline-block">
                                <a class="nav-link dropdown-toggle waves-effect waves-light arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="{% static 'img/us.jpg' %}" alt="user-image" class="me-0 me-sm-1" height="18">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
    
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <img src="{% static 'img/germany.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">German</span>
                                    </a>
    
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <img src="{% static 'img/italy.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Italian</span>
                                    </a>
    
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <img src="{% static 'img/spain.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Spanish</span>
                                    </a>
    
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <img src="{% static 'img/spain.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Russian</span>
                                    </a>
    
                                </div>
                            </li>
    
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle waves-effect waves-light arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-bell font-size-24"></i>
                                    <span class="badge bg-danger rounded-circle noti-icon-badge">9</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg py-0">
                                    <div class="p-2 border-top-0 border-start-0 border-end-0 border-dashed border">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h6 class="m-0 font-size-16 fw-semibold"> Notification</h6>
                                            </div>
                                            <div class="col-auto">
                                                <a href="javascript: void(0);" class="text-dark text-decoration-underline">
                                                    <small>Clear All</small>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="px-1" style="max-height: 300px;" data-simplebar>
    
                                        <h5 class="text-muted font-size-13 fw-normal mt-2">Today</h5>
                                        <!-- item-->
    
                                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card unread-noti shadow-none mb-1">
                                            <div class="card-body">
                                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="notify-icon bg-primary">
                                                            <i class="mdi mdi-comment-account-outline"></i>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 text-truncate ms-2">
                                                        <h5 class="noti-item-title fw-semibold font-size-14">Datacorp <small class="fw-normal text-muted ms-1">1 min ago</small></h5>
                                                        <small class="noti-item-subtitle text-muted">Naveen commented on Admin</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
    
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-1">
                                            <div class="card-body">
                                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="notify-icon bg-info">
                                                            <i class="mdi mdi-account-plus"></i>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 text-truncate ms-2">
                                                        <h5 class="noti-item-title fw-semibold font-size-14">Admin <small class="fw-normal text-muted ms-1">1 hours ago</small></h5>
                                                        <small class="noti-item-subtitle text-muted">New user registered</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
    
                                        <h5 class="text-muted font-size-13 fw-normal mt-0">Yesterday</h5>
    
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-1">
                                            <div class="card-body">
                                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="notify-icon">
                                                            <img src="assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 text-truncate ms-2">
                                                        <h5 class="noti-item-title fw-semibold font-size-14">Sulaiman <small class="fw-normal text-muted ms-1">1 day ago</small></h5>
                                                        <small class="noti-item-subtitle text-muted">Hi, How are you? What about our next meeting</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
    
                                        <h5 class="text-muted font-size-13 fw-normal mt-0">30 Dec 2021</h5>
    
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-1">
                                            <div class="card-body">
                                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="notify-icon bg-primary">
                                                            <i class="mdi mdi-comment-account-outline"></i>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 text-truncate ms-2">
                                                        <h5 class="noti-item-title fw-semibold font-size-14">Datacorp</h5>
                                                        <small class="noti-item-subtitle text-muted">Naveen commented on Admin</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
    
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item p-0 notify-item card read-noti shadow-none mb-1">
                                            <div class="card-body">
                                                <span class="float-end noti-close-btn text-muted"><i class="mdi mdi-close"></i></span>
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <div class="notify-icon">
                                                            <img src="assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 text-truncate ms-2">
                                                        <h5 class="noti-item-title fw-semibold font-size-14">Robin</h5>
                                                        <small class="noti-item-subtitle text-muted">Wow we reached ATH</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
    
                                        <div class="text-center">
                                            <i class="mdi mdi-dots-circle mdi-spin text-muted h3 mt-0"></i>
                                        </div>
                                    </div>
    
                                    <!-- All-->
                                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item border-top border-light py-2">
                                        View All
                                    </a>
    
                                </div>
                            </li>
    
                            <li class="nav-link" id="theme-mode">
                                <i class="bx bx-moon font-size-24"></i>
                            </li>
    
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="{% static 'img/avatar-1.jpg' %}" alt="user-image" class="rounded-circle">
                                    <span class="ms-1 d-none d-md-inline-block">
                                        {{ user.first_name }} 
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end profile-dropdown ">
                                    
    
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="fe-user"></i>
                                        <span>My Account</span>
                                    </a>
    
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="fe-settings"></i>
                                        <span>Settings</span>
                                    </a>
    
                                    <!-- item-->
                                    <a class='dropdown-item notify-item' href="#">
                                        <i class="fe-lock"></i>
                                        <span>Lock Screen</span>
                                    </a>
    
                                    <div class="dropdown-divider"></div>
    
                                    <!-- item-->
                                    <a class='dropdown-item notify-item' href="{% url 'index' %}">
                                        <i class="fe-log-out"></i>
                                        <span>Logout</span>
                                    </a>
    
                                </div>
                            </li>
              
                        </ul>
                    </div>
                </div>
                <!-- ========== Topbar End ========== -->
                <div class="container-fluid h-100">
                    <div class="row justify-content-center h-100 ">
                        <div class="col-md-8 col-xl-6 chat h-100 mt-4">
                            <div class="card">
                                {% for thread in Threads %}
                                    <div class="messages-wrapper  {% if forloop.first %}hide is_active{% else %}hide{% endif %}" chat-id="chat_{{ thread.id }}" other-user-id="
                                                {% if thread.first_person == user %}
                                                    {{ thread.second_person.id }}
                                                {% else %}
                                                    {{ thread.first_person.id }}
                                                {% endif %}
                                            ">
                                        <div class="card-header msg_head">
                                            <div class="d-flex bd-highlight">
                                                <div class="img_cont">
                                                    <img src="https://img.freepik.com/premium-vector/businessman-profile-cartoon_18591-58481.jpg?w=360" class="rounded-circle user_img">
                                                    <span class="online_icon"></span>
                                                </div>
                                                <div class="user_info">
                                                    {% if thread.first_person == user %}
                                                            <span>{{ thread.second_person.first_name }}</span>
                                                    {% else %}
                                                        <span>{{ thread.first_person.first_name }}</span>
                                                    {% endif %}
        
                                                    <p>{{ thread.chatmessage_thread.all.count }} messages</p>
                                                </div>
                                                <div class="video_cam">
                                                    <span><i class="fas fa-video"></i></span>
                                                    <span><i class="fas fa-phone"></i></span>
                                                </div>
                                            </div>
                                            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                                            <div class="action_menu">
                                                <ul>
                                                    <li><i class="fas fa-user-circle"></i> View profile</li>
                                                    <li><i class="fas fa-users"></i> Add to close friends</li>
                                                    <li><i class="fas fa-plus"></i> Add to group</li>
                                                    <li><i class="fas fa-ban"></i> Block</li>
                                                </ul>
                                            </div>
                                        </div>
        
                                        <div class="card-body msg_card_body">
                                            
                                            {% for chat in thread.chatmessage_thread.all %}
                                                {% if chat.user == user %}
                                                    <div class="d-flex mb-4 replied">
                                                        <div class="msg_cotainer_send">
                                                            {{ chat.message }}
                                                            <span class="msg_time_send">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                                        </div>
                                                    <div class="img_cont_msg">
                                                        <img src="https://img.freepik.com/premium-vector/businessman-profile-cartoon_18591-58481.jpg?w=360" class="rounded-circle user_img_msg">
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="d-flex mb-4 received">
                                                    <div class="img_cont_msg">
                                                        <img src="https://img.freepik.com/premium-vector/businessman-profile-cartoon_18591-58481.jpg?w=360" class="rounded-circle user_img_msg">
                                                    </div>
                                                    <div class="msg_cotainer">
                                                        {{ chat.message }}
                                                        <span class="msg_time">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
        
        
                                            
                                        </div>
        
                                    </div>
                                {% endfor %}
                                <div class="card-foot">
                                        <form id="send-message-form">
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip" id="paperclipIcon"></i></span>
                                                    
                                                </div>
                                                <input type="text" name="" id="input-message" class="form-control type_msg" placeholder="Type your message..." autocomplete="off">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" type="submit">
                                                        <span class="input-group-text send_btn">
                                                            <i class="fas fa-location-arrow"></i>
                                                        </span>
                                                    </button>
        
                                                </div>
                                        </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- content -->
                
                <!-- Footer Start 
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                
                            </div>
                            <div class="col-md-6">
                                <div class="d-none d-md-flex gap-4 align-item-center justify-content-md-end">
                                    <div><script>document.write(new Date().getFullYear())</script> © Salvador.Inc,</div>  
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                 end Footer -->
    
            </div>
            
        </div>

		
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            const msgCardBody = document.querySelector('.msg_card_body');

            function scrollToBottom() {
                msgCardBody.scrollTop = msgCardBody.scrollHeight;
            }

            // Scroll to the bottom initially
            scrollToBottom();

            // Scroll to the bottom whenever new messages are added
            const observer = new MutationObserver(scrollToBottom);
            observer.observe(msgCardBody, { childList: true });

            // Optionally, you might want to scroll down when the user sends a message
            const sendBtn = document.querySelector('.send_btn');
            if (sendBtn) {
                sendBtn.addEventListener('click', scrollToBottom);
            }
        });

        </script>
        <script src="{% static 'js/messages.js' %}"></script>
        <script src="https://myrathemes.com/dashtrap/assets/js/vendor.min.js"></script>
        <script src="https://myrathemes.com/dashtrap/assets/js/app.js"></script>
        <script src="{% static 'js/dashboard.js' %}"></script>

	</body>
</html>